.hidden{
    display: none;
}

#famous-name{
    font-size: 12px;
}

body{
    height: 90vh;
    background: url("/Nico/img/picture.jpeg") no-repeat center;
    background-size: cover;
    margin: 0;
}

.box {
    width: 45vh;
    height: 620px;
    padding: 60px;
    background-color:rgb(255, 255, 255,0.7);
    position: absolute;
    left: 15%;
    top: 0%;
    display: grid;
}

#quote{
    position: absolute;
    left: 10px;
    top: 650px
}

#login-form{
    position: absolute;
    left: 10px;
    top: 70px;
}

#clock{
    position: absolute;
    left: 10px;
    top: 60px;
    font-size: 45px;
}

#button{
    padding: 5px 10px;
}

#greeting{
    position: absolute;
    left: 10px;
    top: 0px;
    font-size : 55px;
}

#todo-form{
    position: absolute;
    left: 10px;
    top: 200px;
    color: aqua;
}

#todo-list{
    position: absolute;
    left: 10px;
    top: 220px;
    font-size: 25px;
}